
@font-face {
    font-family: "pokemon";
    src: url('../assets/Pokemon\ Solid.ttf');
}
@font-face {
    font-family: "pokemon-outline";
    src: url('../assets/Pokemon\ Hollow.ttf');
}
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1:#316ab2;
    --color2: #ffcb05;
    --color3: rgb(125, 189, 221);
    --color4: #ffe88e;
    --color5: hsla(170, 28%, 95%, 1);

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color5);

}
header {
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: var(--color2);
}

#game-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  
}
input {
    display: none;
}
input+ img {
    border: 5px solid var(--color2);
    max-width: 97%;
    border-radius: 10px;
}

input+ img:hover {
    border: 5px solid var(--color2);
    cursor: pointer;
    max-width: 98%;
    box-shadow: 3px 3px 9px var(--color1);
}

h1 {
    font-family: pokemon-outline;
    font-size: 52pt;
    font-weight: bolder;
    color: var(--color1);
}

h2 {
    font-family: pokemon;
    font-size: 12pt;
    color: var(--color1);
    padding: 20px 0px 10px 25px;
}
table {
    border: none;
    border-collapse: collapse;
    box-shadow: 3px 3px 9px var(--color1);
}
th {
    border: 1px solid var(--color1);
    background-color: var(--color5);
    color: var(--color1);
    background-color: var(--color2);
    font-family: "pokemon";
    font-weight: lighter;
    padding: 5px;
}
td {
    border: 1px solid var(--color1);
    padding: 5px;
    text-align: center;
}
tbody tr:nth-child(even) {
    background-color: var(--color4);
}

tbody tr:nth-child(odd) {
    background-color: var(--color3);
}

.results-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 20px;
}

button {
    font-family: pokemon-outline;
    font-size: 20pt;
    color: var(--color2);
    font-weight: bold;
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
}
button:hover {
    box-shadow: 3px 3px 9px var(--color1);
}

td {
    font-size: 19px;
}